
/* Overall Style */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #edf1f5b1;
    
}
/* Overall Style */

/* Header */
header{
    background-color: #b0e6e8bc;
    margin: 0;
    padding: 0;
    border: solid black 1px;
    border-radius: 6px;
}

.header{
    text-align: center;
}

/* Header */


/* Main */
main{
    background-color: #65ad80b4;
   padding: 30px;
    border: solid black 1px;
    border-radius: 6px;  
    font-family: Georgia, Times, 'Times New Roman', serif;  
}


/* Main */

/* image */
#image1{
    margin-left: 100px;
}
#image2{
    margin-left: 195px;
}
#image3{
    margin-left: 195px;
}
#image4{
    margin-left: 100px;
}
#image5{
    margin-left: 170px;
}

/* Image */



/* Footer */

/* Footer */